apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: custom-grafana
  namespace: openshift-gitops
spec:
  destination:
    namespace: my-grafana
    server: https://kubernetes.default.svc
  project: default
  source:
    path: gitops/overlays/dashboards
    repoURL: https://github.com/kevchu3/openshift4-grafana.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
